@media screen and (max-width: 600px) {

html, body {
/*    font-family: 'Imprima', sans-serif;*/
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}
    
    h1{
/*        font-family: 'Imprima', sans-serif;*/
        font-family: 'Nunito', sans-serif; 
        font-size: 1.4em;
        font-weight: 300;
    }
    
    h2{
/*        font-family: 'Imprima', sans-serif;*/
        font-family: 'Nunito', sans-serif; 
        font-size: 2em;
        font-weight: 300;
    }
    
    .addPlantButton{
        background-color: green;
    }

    .frame{
        width: 100%;
        height: 100vh;
        background-color: #55E878;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        
        
    }
    
    .wrapper{
        width: 90%;
        height: 90%;
        background-color: white;
        border-radius: 20px;
/*        border: 1px solid green;*/
    }
    
    .content{
        width: 100%;
/*        border: 1px solid red;*/
/*        padding: 20px;*/
    }
    
    /*** OnePlant ***/
    
    .onePlantWrapper{
        width: 100%;
        height: 120px;
/*        border: 1px solid purple; */
        display: flex;
        flex-direction: row;
        padding: 15px;
    }
    
    .onePlantImg{
        width: 100px;
        height: 100px;
/*        border: 1px solid black;*/
        border-radius: 50%;
        overflow: hidden;
        margin: 5px;
/*
        background-size: cover;
        background-position: center;
*/
    }
    .onePlantImg img{
        width: 100%;
        min-height: 100px;
    }
    
    .onePlantText{
        padding: 20px;
    }
    
    .onePlantSpecies{
        width: 100%;
        height: 70px;
        font-size: 1.2em;
/*        border: 1px solid purple;  */
    }
    
/* Water Level Meeter */
    .waterLevelWrapper{
        width: 150px;
        height: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid lightgray;
        border-radius: 20px;
    }
    .waterLevel1{
        width: 20px;
        margin: 2px;
        background-color: aqua;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .waterLevel2{
        width: 20px;
        margin: 2px;
        background-color: aqua;
    }
    .waterLevel3{
        width: 20px;
        margin: 2px;
        background-color: aqua;
    }
    .waterLevel4{
        width: 20px;
        margin: 2px;
        background-color: aqua;
    }
    .waterLevel5{
        width: 20px;
        margin: 2px;
        background-color: aqua;
    }
    .waterLevel6{
        width: 20px;
        margin: 2px;
        background-color: aqua;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    
/***** Add new plant ****/
    
    .addPlantProgress{
        width: 100%;
        height: 60px;
    }
    
    .cameraView{
        width: 100%;
        height: 360px;
        background: url("./../img/zamiakalla.jpg") no-repeat;
        background-size: cover;
        background-position: 0px -90px;
        padding-top: 30px;
/*        padding-left: 10%;*/
    }
    .cameraViewDemoAlert{
        width: 80%;
        height: auto;
        margin-left: 20px;
        background-color: rgba(255,255,255, 0.5);
        padding: 20px;
        font-size: 1.2em;
    }
/*
    .cameraViewDemoAlertText{
        width: 100%;
        opacity: 0.9;
        color: black;
    }
*/
/*
    .cameraView img{
        width: 100%;
        height: 300px;
    }
*/
    .cameraIconButtonRow{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: -40px;
    }
    .cameraIconButton{
        width: 80px;
        height: 80px;
        background-color: white;
        border: 4px solid lightgray;
        border-radius: 50%;
        text-align: center;
    }
    
    .cameraIconButton:hover{
        cursor: pointer;
        background-color: lightgrey;
        border: 4px solid gray;
    }
    
    .cameraIcon{
        font-size: 50px;
        color: darkgrey;
        margin: 10px;
    }
    
}